$primary: #2A3D45;

$light: #F4F4F9;
$dark: #030027;
$blacked-background: rgba(0,0,0,.4);

$gray: #626368;
$light-gray: #cacecf;

$blue: #00a6dd;
$blue-hover: #18bef5;
$blue-active: #28b9e9;
$light-blue: #eaf2fd;

$red: #cf3232;
$red-hover: #f23434;
$red-active: #ce1f1f;